{% extends 'base.html' %}

{% block head %}
<title>Finance Website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<style>
    body {
        background-color: #000000;
        color: #ffffff;
    }

    h1 {
        color: #D4AF37;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }

    .highlight {
        font-style: italic;
    }

    .card-body {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .card-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        background-color: rgba(2, 7, 14, 0.8);
    }

    .card-header h2 {
        margin-bottom: 0;
    }

    /* .loader-container {
        display: none;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        /* border-top: 16px solid #3498db; Blue */
        /* border-radius: 50%; */
        /* width: 120px; */
        /* height: 120px; */
        /* animation: spin 2s linear infinite; */
    /* } */

    /* @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    } */
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5 mb-4">Stock Sentiment Tracker</h1>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="card">
        <div class="card-header">
            <h2 class="text-center">My Stocks</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Sentiment Score %</th>
                        <th>Date/Time Created</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td style="color: {{ stock_prices[stock.symbol].color }}">{{ stock.sentiment }}</td>
                        <td>{{ time_diff_in_minutes(stock.created) }} minutes ago</td>
                        <td>{{ stock_prices[stock.symbol]['price'] }}</td>

                        <td>
                            <a href="/delete/{{ stock.id }}" class="btn btn-danger btn-sm">Delete</a>
                            <a href="/update/{{ stock.id }}" class="btn btn-primary btn-sm">Update</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <form action="/" method="POST" class="my-4" id="stockForm">
        <div class="input-group">
            <input type="text" name="content" id="content" class="form-control" placeholder="Enter a stock symbol">
            <div class="input-group-append">
                <input type="submit" value="Add Stock" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>

<!-- Loading spinner -->
<!-- <div class="loader-container">
    <div class="loader"></div>
</div> -->

<!-- JavaScript to handle form submission and show/hide the loader -->
<!-- <script>
    document.getElementById("stockForm").addEventListener("submit", function(event) {
        event.preventDefault();

        // Show the loading spinner
        document.querySelector('.loader-container').style.display = 'flex';

        fetch("/", {
            method: "POST",
            body: new FormData(event.target) // event.target refers to the form
        })
        .then(response => response.json())
        .then(data => {
            // Hide the loading spinner
            document.querySelector('.loader-container').style.display = 'none';

            if (data.status === "success") {
                // Handle success response
                // For example, update the stocks table
            } else if (data.status === "error") {
                // Handle error response
                alert(data.message);
            }
        })
        .catch(error => {
            // Handle fetch error
            console.error('Error:', error);
        });
    });
</script> -->
{% endblock %}